---
services:
  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    environment:
      # 当前用户的 uid 和 gid，可以在终端运行 id 来查看，大部分时候都是 1000
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - AUTO_UPDATE=true #optional
    volumes:
      - ./data:/config
      - ./blackhole:/downloads
    # ports:
    #   - 9117:9117
    restart: unless-stopped
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.jackett.rule=Host(`tr.example.com`)"
      - "traefik.http.routers.jackett.entrypoints=https"
      - "traefik.http.routers.jackett.tls.certresolver=cloudflare"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"

# byparr 服务，用来跳过某些站点的人机验证
  byparr:
    image: ghcr.io/thephaseless/byparr:latest
    container_name: byparr
    restart: unless-stopped
    shm_size: 2gb
    # # Uncomment below to use pproxy
    # environment:
    #   - PROXY=http://pproxy:8080
    volumes:
      - ./screenshots:/app/screenshots # (optional) For screenshots when exception occurs
    networks:
      - backend

networks:
  frontend:
    external: true
  backend:
    external: true
